include comment.pug

mixin comment(c)
    .media
        div.comment-avatar.pull-left
            img.media-object.user-avatar(src='https://img-9gag-fun.9cache.com/photo/av7nywW_700b.jpg')
            |
            .media-body
                div.comment-box
                    div.comment-content
                        =c.content
                        div.comment-footer
                            i.icon-user
                            |  by 
                            a(href='#') 
                                =c.username
                            |  
                            i.glyphicon.glyphicon-calendar
                                =c.date
                            | 
                            i.glyphicon.glyphicon-comment
                            | 
                            |   nestedComment.lenght
                    +newComment(c._id, 'comment')
                    .row
                        ul.comments-list.reply-list
                            each nestedComment in c.comments
                                li
                                    +comment(nestedComment)