extends shared/_master
include forum-post-comment.pug
include comment.pug

block body
  -var postN = post._id;
  .container
    form.well
      .media
        a.pull-left(href='#')
          img.media-object.user-avatar(src= post.img)
        |
        .media-body
          strong.post-head.media-heading
              =post.title
          br
          p
            =post.content
        .row
          p
            i.icon-user
            |  by 
            a(href='/api/users/profile/' + post.username) 
              =post.username
            |  
            i.glyphicon.glyphicon-calendar
              =post.date
            | 
            i.glyphicon.glyphicon-comment
            | 
            =post.comments.length
        +newComment(post._id, post._id, 'post')
        ul#comments-list.comments-list
          each comment in post.comments
            li
              +comment(comment, post._id)