extends shared/_master
include forum-post-comment.pug
include comment.pug

block meta
  meta(property='og:url', content='localhots:3000/forum-post/' + post._id)
  meta(property='og:type', content='article')
  meta(property='og:title', content='' + post.title)
  meta(property='og:description', content='' + post.content)
  meta(property='og:image', content='' + post.img)
block scripts
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js')
  script(src='/libs/croppie/croppie.js')
  link(rel='stylesheet', href='/libs/croppie/croppie.css')

block body
  -var postN = post._id;
  .container
    form.well
      .media
        a.pull-left(href='#')
          img.media-object.user-avatar(src= post.img)
        |
        .media-body
          strong.post-head.media-heading
              =post.title
          br
          p
            =post.content
        .row
          p
            i.icon-user
            |  by 
            a(href='/api/users/profile/' + post.username) 
              =post.username
            |  
            i.glyphicon.glyphicon-calendar
              =post.date
            | 
            i.glyphicon.glyphicon-comment
            | 
            =post.comments.length
        +newComment(post._id, post._id, 'post')
        ul#comments-list.comments-list
          each comment in post.comments
            li
              +comment(comment, post._id)