mixin comment(c)
    .media
        div.comment-avatar.pull-left
            img.media-object.user-avatar(src='' + c.img)
            |
            .media-body
                div.comment-box
                    div.comment-content
                        =c.content
                        div.comment-footer
                            i.icon-user
                            |  by 
                            a(href='#') 
                            =post.username
                            |  
                            i.glyphicon.glyphicon-calendar
                            |  July 7th, 2017
                            | 
                            i.glyphicon.glyphicon-comment
                            | 
                            =post.comments.length
                    .row
                        ul.comments-list.reply-list
                            each nestedComment in c.comments
                                li
                                    +comment(nestedComment)