extends shared/_master

block body
  .container.login-form
    .row
      .col-md-4.col-md-offset-4
        .panel.panel-default
          .panel-heading
            strong Login
          .panel-body
            form.form-horizontal(action='', method='post')
              .form-group
                label.col-sm-3.control-label(for='inputUsername') Username
                .col-sm-9
                  input#inputUsername.form-control(type='text',name='username' placeholder='Username', required='')
              .form-group
                label.col-sm-3.control-label(for='inputPassword') Password
                .col-sm-9
                  input#inputPassword.form-control(type='password',name='password' placeholder='Password', required='')
              if inavalid
                .form-group
                  .col-sm-offset-3.col-sm-9
                    =inavalid
              .form-group.last
                .col-sm-offset-3.col-sm-9
                  .col-xs-6.col-sm-6.col-md-6
                    button#submit.btn.btn-success.btn-sm(type='submit') Sign in
                  .col-xs-6.col-sm-6.col-md-6
                    button.btn.btn-default.btn-sm(type='reset') Reset
          .panel-footer
            | Not Registered? 
            a(href='/api/users/register') Register here
