extends shared/_master

block body
  .container.well
    .row
      .col-xs-12.col-sm-3.center
        span.profile-picture
          img#avatar2.editable.img-responsive(alt='Avatar', src=user_profile.avatar)
      .col-xs-12.col-sm-9
        .profile-user-info
          .profile-info-row
            .profile-info-name  Username 
            .profile-info-value
              span
                =user_profile.user_name
          .profile-info-row
            .profile-info-name  Location 
            .profile-info-value
              span
                =user_profile.country
          .profile-info-row
            .profile-info-name  First Name 
            .profile-info-value
              span
                =user_profile.first_name
          .profile-info-row
            .profile-info-name  Last Name 
            .profile-info-value
              span
                =user_profile.last_name
          .profile-info-row
            .profile-info-name  Birth Date 
            .profile-info-value
              span
                =user_profile.date
          .profile-info-row
            .profile-info-name  Email 
            .profile-info-value
              span
                =user_profile.email
          .profile-info-row
            .profile-info-name  Contact No. 
            .profile-info-value
              span
                =user_profile.contact_no
  if showComment
    .container.well#comment-container
      h4.media-heading
        | My Forum Activity   
        i.glyphicon.glyphicon-comment
        | 
        =user_profile.comments.length
      ul#comments-list.comments-list
      each comment in commentsObject.comments
        li.profile-info-row
<<<<<<< HEAD
          if(comment.isDeleted==false)
            .media
              .media-body
                div.comment-box
                  div.comment-content
                    h4.media-heading=comment.message
                    div.comment-footer
                        i.icon-user
                        =comment.date
=======
          .media
            .media-body
              div.comment-box
                div.comment-content
                  h4.media-heading=comment.message
                  div.comment-footer
                      i.icon-user
                      =comment.date
      .container
        ul.pager
          if commentsObject.prevPage < 1
            li.disabled
              a(href='/api/users/profile?page=' + commentsObject.prevPage)
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          else
            li
              a(href='/api/users/profile?page=' + commentsObject.prevPage)
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          li
            span
             | Page #{commentsObject.currentPage}
          if commentsObject.nextPage > commentsObject.maxPage
            li.disabled
              a(href='/api/users/profile?page=' + commentsObject.nextPage)
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          else
            li
              a(href='/api/users/profile?page=' + commentsObject.nextPage)
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
>>>>>>> af74f6e917060ebaa4b999274d7da906280ad686
