extends shared/_master

block body
  .container.well
    .row
      .col-xs-12.col-sm-3.center
        span.profile-picture
          img#avatar2.editable.img-responsive(alt='Avatar', src=user_profile.avatar)
      .col-xs-12.col-sm-9
        .profile-user-info
          .profile-info-row
            .profile-info-name  Username 
            .profile-info-value
              span
                =user_profile.user_name
          .profile-info-row
            .profile-info-name  Location 
            .profile-info-value
              span
                =user_profile.country
          .profile-info-row
            .profile-info-name  First Name 
            .profile-info-value
              span
                =user_profile.first_name
          .profile-info-row
            .profile-info-name  Last Name 
            .profile-info-value
              span
                =user_profile.last_name
          .profile-info-row
            .profile-info-name  Birth Date 
            .profile-info-value
              span
                =user_profile.date
          .profile-info-row
            .profile-info-name  Email 
            .profile-info-value
              span
                =user_profile.email
          .profile-info-row
            .profile-info-name  Contact No. 
            .profile-info-value
              span
                =user_profile.contact_no
                | 
        h3.media-heading
          | My Forum Activity   
          i.glyphicon.glyphicon-comment
          | 
          =user_profile.comments.length
        ul#comments-list.comments-list
        each comment in user_profile.comments
          li.profile-info-row
            .media
              div.comment-avatar.pull-left
                img.media-object.user-avatar(src=user_profile.avatar)
                |
                h3.media-heading=user_profile.username
                |  said :
                .media-body
                  div.comment-box
                    div.comment-content
                      h4.media-heading=comment.message
                      div.comment-footer
                          i.icon-user
                          =comment.date