extends shared/_master

block scripts
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js')

block body
  .container
    form#contact_form.well.form-horizontal(action='', method='post')
      fieldset
        // Form Name
        legend
          center
            h2
              b Update Password
        br
        .register-group
          .col-right
            // Text input
            .form-group
              label.col-md-4.control-label(for='inputUserName') Username
              .col-md-4.inputGroupContainer
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-user
                  input#inputUserName.form-control(name='user_name', placeholder='Username', type='text', value = user.user_name, readonly)
            // Text input
            .form-group
              label.col-md-4.control-label(for='inputOldPassword') Old Password
              .col-md-4.inputGroupContainer
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-user
                  input#inputOldPassword.form-control(name='old_password', placeholder='Old Password', type='password')
            // Text input
            .form-group
              label.col-md-4.control-label(for='inputPassword') New Password
              .col-md-4.inputGroupContainer
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-user
                  input#inputPassword.form-control(name='user_password', placeholder='New Password', type='password')
            // Text input
            .form-group
              label.col-md-4.control-label(for='inputConfirmPassword') Confirm Password
              .col-md-4.inputGroupContainer
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-user
                  input#inputConfirmPassword.form-control(name='confirm_password', placeholder='Confirm Password', type='password')
            if inavalid
              .form-group
                label.col-md-6.control-label 
                  =inavalid
            // Button
            .form-group
              label.col-md-4.control-label
              .col-md-4
                button.btn.btn-warning(type='submit')
                  |SUBMIT 
                  span.glyphicon.glyphicon-send
  script(src='/static/js/register-form-validator.js')