h1 {
    color: pink;
}
.logo-icon {
    height: 42px;
    margin-top: -10px;
    width: 42px;
}
.postImg
{
    height:200px;
    width:200px;
}
.positiveNodes
{
    font-size: 24px;
}
.manyNodes
{
    color: coral;
}
.inactive {
   pointer-events: none;
   cursor: default;
   color: lightcoral;
}
p
{
    font-size: 18px;
}