h1 {
    color: pink;
}

.logo-icon {
    height: 42px;
    margin-top: -10px;
    width: 42px;
}

.postImg {
    height: 200px;
    width: 200px;
}

.positiveNodes {
    font-size: 24px;
}

.manyNodes {
    color: coral;
}

.inactive {
    pointer-events: none;
    cursor: default;
    color: lightcoral;
}

p {
    font-size: 18px;
}

.register-group {
    display: flex
}

.register-group .col-left {
    display: flex;
    flex-direction: column;
}


/* Start css for modal loader spiner */

.modal-loading {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/loader.gif') rgba( 255, 255, 255, .8) 50% 50% no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .modal-loading {
    display: block;
}


/* End css for modal loader spiner */