mixin main-footer
    footer
        .container
            .row
              .col-md-4.col-sm-6.footerleft
                .logofooter  SimpleForum
                |         
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley.
                |         
                p
                  i.fa.fa-map-pin
                  |  31, bul. Alexander Malinov - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;110085, SOFIA
                |         
                p
                  i.fa.fa-phone
                  |  Phone (Buglaria) : +359 893 32 80 60
                |         
                p
                  i.fa.fa-envelope
                  |  E-mail : TripleBounty@gmail.com
              |       
              .col-md-2.col-sm-6.paddingtop-bottom
                h6.heading7 GENERAL LINKS
                |         
                ul.footer-ul
                  li
                    a(href='#')  Career
                  |           
                  li
                    a(href='#')  Privacy Policy
                  |           
                  li
                    a(href='#')  Terms &amp; Conditions
                  |           
                  li
                    a(href='#')  Frequently Ask Questions
              |       
              .col-md-3.col-sm-6.paddingtop-bottom
                .fb-page(data-href='https://www.facebook.com/facebook', data-tabs='timeline', data-height='300', data-small-header='false', style='margin-bottom:15px;', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
                  .fb-xfbml-parse-ignore
                    blockquote(cite='https://www.facebook.com/facebook')
                      a(href='https://www.facebook.com/telerikacademy') Facebook
                    |             
                    blockquote(cite='https://www.facebook.com/facebook')
                      a(href='https://github.com/TripleBounty/SimpleForum') GitHub
        .copyright
          .container
            .col-md-6
              p &copy; 2017 - All Rights protected with DMCA
            |     
            .col-md-6
              ul.bottom_ul
                li
                  a(href='#') SimpleForum.com
                |         
                li
                  a(href='#') About us
                |         
                li
                  a(href='#') Faq&apos;s
                |         
                li
                  a(href='#') Contact us
                |         
                li
                  a(href='#') Site Map